<h1>Timetable for weekday shift</h1>
<div class="container text-center">

<p>
{{waiterList}}
</p>
<form action="/days" method="get">
<table class="table-bordered">
                <thead>
                  <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                  </tr>
                </thead>
                <tbody>
                  <ul>
                  <td class="{{Sunday}}">
                    {{#each add1}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Monday}}">
                    {{#each add}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Tuesday}}">
                    {{#each add2}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Wednesday}}">
                    {{#each add3}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Thursday}}">
                    {{#each add4}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Friday}}">
                    {{#each add5}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Saturday}}">
                    {{#each add6}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
</ul>
</table>
  </tbody>
  <button type="Reset" value="Reset"><a href="/Reset">Reset</a></button>
  </form>
