<h1>Timetable for weekday shift</h1>
<div class="container text-center">

<p>
{{waiterList}}
</p>

<table align="center">
  <tr>
    <th style="background-color: green;">Enough Waiters</th>
    <th style="background-color: Yellow;">Not Enough waiter(s)</th>
    <th style="background-color: Red;">Still Need more waiter(s)</th>
  </tr>
<form action="/days" method="get">
<table class="table-bordered">

                <thead>
                  <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                  </tr>
                </thead>
                <tbody>
                  <ul>
                  <td class="{{Sundaycolors}}">
                    {{#each add1}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Mondaycolors}}">
                    {{#each add2}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Tuesdaycolors}}">
                    {{#each add3}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Wednesdaycolors}}">
                    {{#each add4}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Thursdaycolors}}">
                    {{#each add5}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Fridaycolors}}">
                    {{#each add6}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
                  <td class="{{Saturdaycolors}}">
                    {{#each add7}}
                      <li>{{this}}</li>
                    {{/each}}
                  </td>
</ul>
</table>
  </tbody>
  <button type="Reset" value="Reset"><a href="/Reset">Reset</a></button>
  </form>
